<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Lars Lødemel Sandberg, M.Sc. Cybernetics and Robotics</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <br>Welcome to my personal webpage! <br><br>
    I am a software engineer living in Oslo, where I write modern C++ and Python for Linux platforms.
    <br>In my internships I have implemented data driven algorithms for performing computational quantum mechanics
    and developed a platform for using AI-methods to discover patterns in tax data. 
    And I wrote my master's thesis on applying Machine Learning to improve Mathematical Programming algorithms. <br><br>
    I also host my miniature blog here, feel free to check it out, and contact me on LinkedIn if you have any questions. 
</p>
