<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Lars Lødemel Sandberg, M.Sc. Cybernetics and Robotics</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <br>Welcome to my personal webpage <br><br>
    I'm an engineering student living in Trondheim working on applying mathematics and Machine Learning to solve unsolved problems
    and expand my knowledge. 
    <br>In my internships I have implemented data driven algorithms for performing computational quantum mechanics
    and developed a platform for using AI-methods for discovering patterns in tax returns. 
    At the moment I'm working on my master's on applying Machine Learning to improve the efficiency 
    of large mathematical programming problems used in the hydropower industry. <br><br>
    I also host my miniature blog here, feel free to check it out.
</p>